/* Everything between the starting and ending tags will be a comment */

body {
	font-family/* feature(style attribute) */: Bebas Neue; /* meaning(the value of the style attribute) */; /* - set of properties(style description) */
}

body {  /* selector */
	background-color: #203141; /* background color of the body tag */
	text-align: center;	/* text align */
}

h1 {
	font-size: 100px;
	margin: 40px 30px 30px 30px;	/* sets the amount of the outer margin from each edge of the element in one ad */
	border-radius: 0 30px 30px 0;	/* allows you to define the shape of the borders of the element */	
	color: beige;
}

nav, form {
	margin: 40px 30px 30px 30px;
	border-radius: 5px;
	font-size: 22px;	/* sets the font size of the element */
	border: solid 3px black;
}

ul {
	list-style-type: square;
}

.content {
	max-width: 900px;
	margin: auto;
}